#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
button:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.submit {
  height: 40px;
  background-color: blanchedalmond;
}

.authenticate {
  background-color: blanchedalmond;
}
label {
  margin: auto;
  text-align: center;
}

h2 {
  font-size: 34px;
  text-shadow: blueviolet 5px;
}

input {
  border: 2px solid currentcolor;
}
input:invalid {
  border: 2px dashed red;
}
input:invalid:focus {
  background-image: linear-gradient(rgb(247, 245, 169), rgb(144, 238, 230));
}